<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="LogfileDirectory" value=".\logs"/>
  <variable name="LogfileName" value="crun.Log"/>

  <targets>

    <target name="Logfile" xsi:type="File"
            fileName="${LogfileDirectory}\${LogfileName}"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true:padding=-5}|${threadid:padding=4}|${logger:padding=-15}|${message}|${onexception:${NewLine}EXCEPTION\:${exception:format=tostring}}"/>

    <target xsi:type="ColoredConsole" name="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${time} ${level:uppercase=true}(${threadid}): ${message}">

      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow"/>
    </target>

    <target xsi:type="Console" name="Console"
            layout="${time} ${level:uppercase=true}(${threadid}): ${message}"/>

    <target xsi:type="OutputDebugString" name="DebugConsole"
            layout="${longdate}|${threadid}|${level:uppercase=true}|${logger}|${windows-identity}|${message}|${onexception:${NewLine}EXCEPTION\:${exception:format=tostring}}"/>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Logfile,DebugConsole" final="true"/>
    <logger name="*" minlevel="Info" writeTo="ColoredConsole"/>
  </rules>

</nlog>
