<nlog xmlns="http://www.nlog-project.org/schEmailas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchEmaila-instance"
      keepVariablesOnReload="true"
      autoReload="true"
      internalLogFile="Logs\nlog_errlog.txt" internalLogLevel="Error">

    <targets>
        <target name="UDP4Localhost" xsi:type="NLogViewer" address="udp4://localhost:8081"
                includeNdc="true" includeMdc="true" includeNLogData="true" includeSourceInfo="true">
            <parameter name="Message"
                       layout="${message}${onexception:${NewLine}EXCEPTION\:${exception:format=tostring}}" />
            <parameter name="Identity" layout="${windows-identity}" />
            <parameter name="Process" layout="${processid}" />
        </target>
        
        <target xsi:type="ColoredConsole" name="ColoredConsole"
                useDefaultRowHighlightingRules ="true"
                layout="${time} ${level:uppercase=true}(${threadid}): ${message}" >
            <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow"/>
        </target>
        
        <target xsi:type="Debug" name="DebugConsole" layout="${level:uppercase=true}: ${message}" />
        <target xsi:type="Null" name="blackhole" /> <!-- write to the void aka just remove -->
        <target xsi:type="TestOutput" name="xUnitConsole" layout="${level:uppercase=true}: ${message}" />
    </targets>



    <rules>
      <logger name="*" minlevel="Info" writeTo="ColoredConsole" />
      <logger name="*" minlevel="Debug" writeTo="UDP4Localhost" />
    </rules>

</nlog>
